{% extends 'base.html.twig' %}

{% block title %} Panier {% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
<h1> Votre panier ! </h1>

{% if rows | length > 0 %}

	<table class="table">
		<thead>
			<tr>
				
				<th>Nom</th>
				<th>Prix</th>
				<th>quantite</th>
				<th>total</th>


			</tr>
		</thead>

		<tbody>
			{% for row in rows %}

				<tr>
					
					<td>{{ row.product.nom }}</td>
					<td>{{ row.product.prix }} €</td>
					<td>{{ row.quantite }}</td>
					<td>{{ row.quantite * row.product.prix }} €</td>

					<td>
						<a href="{{ path('app_panier_remove', {'id': row.product.id}) }}">Supprimer du panier</a>
					</td>
				</tr>

			{% else %}
				<tr>
					<td colspan="4">Aucun enregistrement trouvé</td>

				</tr>
			{% endfor %}
		</tbody>
	</table>


	<br/>
	Total :
	{{ total }} €
	<br><br>

	<a href="{{path('app_paiement')}}">Passer la commande</a>

{% else %}
<br>
	Le panier est vide  <i class="fa-solid fa-face-frown"></i>
	<br><br>

{% endif %}

</div>
{% endblock %}
