{% extends 'base.html.twig' %}

{% block title %}
	Nos produits!
{% endblock %}

{% block body %}

	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-2">
				<p>
					<h1>Catégories</h1>
					<aside>
						<nav>
							<ul>
								{% for category in categories %}

									<a href="{{ path('app_categories_products_show',{'id': category.id}) }}">
										<li>{{category.nom}}</li>
									</a>
								{% endfor %}

							</ul>
						</nav>
					</aside>
				</p>
			</div>
			<div class="col-lg-10">
				<div class="row">
					{% for produit in produits %}
						<div class="col-lg-4 col-md-6 col-sm-12 mb-4 mt-4">
							<div class="card">
								<div class="d-flex justify-content-center">
									<img src="{{ asset('image/upload/' ~ produit.image) }}" class="card-img-top" style="width:60%; height:200px" ; alt="">
								</div>
								<div class="card-body text-center">
									<h5 class="card-title ">{{produit.nom}}</h5>
									<p>{{produit.prix}}€</p>

									<p class="card-text">{{produit.description}}</p>
									<div class="d-flex row mx-auto ">
										<a href="{{ path('app_panier_add', {'id': produit.id }) }}">
											<span class="material-icons primary-clr">add_circle</span>

										</a>
										<span>Ajouter</span>
									</div>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>

{% endblock %}
